@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  --bg-color: #0d1c1c;
  --sub-color: #ff6600;
  --text-color: #ffffff;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: var(--sub-color);
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.container article {
  padding: 2em;
  max-width: 1250px;
}

svg {
  vertical-align: middle;
  fill: var(--sub-color);
  height: 20px;
}

.currentTheme:hover {
  color: var(--text-color);
  cursor: pointer;
}

.currentTheme:hover svg {
  fill: var(--text-color);
}
svg:hover {
  cursor: pointer;
  fill: var(--text-color);
}

.wrapper {
  align-items: start;
  background: rgba(0, 0, 0, 0.75);
  display: grid;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.themeListContainer {
  background: var(--bg-color);
  border-radius: 0.5rem;
  width: 700px;
}

.themeListContainer .themeList {
  cursor: pointer;
  display: grid;
  max-height: calc(100vh - 13rem);
  overflow-y: scroll;
  user-select: none;
}

.theme {
  color: var(--sub-color);
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.05s ease 0s;
}

.theme div {
  pointer-events: none;
}

.theme:hover {
  background-color: var(--text-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-corner {
  background: var(--sub-color);
}

::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  border-radius: 2px !important;
  transition: 0.125s;
}

::-webkit-scrollbar-track {
  background: 0 0;
}
